/* Your board style here */
.racer_table {
  margin: 0 auto;
}

.racer_table td {
    height: 50px;
    width: 50px;
    border: #999 1px solid;
}
#player_race td.active {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-image: url("images/player_1.png");
}
#player_race td.finish {
    background-image: url("images/finish.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}
